/* .card-title{
    color: #56112e;
}
.image{
    width: 200px;
    border: 1px solid red;
}
.searchContainer{
    display: flex;
    gap: 10px;
}
.searchContainer select{
    width: 50%;
}
.list-group-item{
    margin-bottom: 10px;
    background-color: #56112eea;
    color: #ffd8ad;
    border: none;
} */